.profile__edit-avatarPen {
    position: absolute;
    top: 0;
    left: 0;
  
    padding: 47px;
    margin: 0;
    width: 26px;
    height: 26px;
    border-radius: 20%;
    
    opacity: 0;
    z-index: 5;
    
    background-color: rgba(0, 0, 0, 0.8);
  }
  @media screen and (max-width: 843px) {
    .profile__edit-avatarPen {
      margin-right: 0;
    }
  }
.profile__edit-avatarPen:hover{
  opacity: 0.8;
}