.popup__container {
  margin: 0;
  padding: 0;
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 5;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1280px) {
  .popup__container{
    width: calc(0.19583*100vw + 219px);
  }
}