.element__info-text {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21em;
  max-width: 224px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
