.popup__nosave-button {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  opacity: 1;
  z-index: 5;
  background-color: rgba(247, 247, 247, 0);
  cursor: pointer;
  border: none;
}
.popup__nosave-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 400px) {
  .popup__nosave-button{
    margin-bottom: 16px;
  }
}