.header {
  margin: 0 0 41px 0;
  padding: 0 0 38px 0;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 620px) {
  .header{
    padding-bottom: 29px;
  }
}